NODE_ENV=development|production
DOCKER=true|false # dumb but not all gang run full-docker, just slices of it
SESSION_SECRET=<see https://github.com/expressjs/session#secret>
MONGOURI='mongodb://mongodb:27017/dae-wiki'
# IMGPROXY
# This key/salt pair needs to match what is in the .env var of the wiki app (/dae-wiki/public/env)
# This pair was just generated with echo $(xxd -g 2 -l 64 -p /dev/random | tr -d '\n')
KEY=45b07c9dd7582f98e69d70dde4730cac6ffb16139866eaec5fbbddd47fcb7791e4496b9546f1a514
SALT=20b556705a55631da7d04c9bbc36b8f5f67671c877402953