body, html {
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
    font-family: 'helvetica', sans-serif;
    line-height: 1;
    font-size: 20px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    word-break: break-all;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:link {
    color: rgb(173, 0, 255);
}
a:visited {
    color: rgb(173, 0, 255);
}
main {
    width: 450px;
}
#form {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    margin: 15px;
    margin-bottom: 10px;
}
#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button, button:active, button:focus {
    margin: 20px;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover {
    text-decoration: underline;
    color: rgb(173, 0, 255);
}
input:focus {
    color: rgb(173, 0, 255);
}
input[type="text"], input[type="password"], input[type="email"]{
    padding-left: 15px;
    margin-bottom: 5px;
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
    font-family: inherit;
    font-size: inherit;
    border: 2px solid black;
    border-radius: 100px;
    box-sizing: border-box;
    -webkit-transition: ease 0.25s;
    transition: ease 0.25s;
}
input::placeholder {
    color: darkgray;
}
input:focus {
    border-color: rgb(173, 0, 255);
    outline: none;
}
input[type="text"]#note {
    vertical-align: top;
    height: 300px;
    border-radius: 20px;
}