[Unit]
Description=DAE API

[Service]
WorkingDirectory=/root/dae-api
ExecStart=/usr/bin/node server.js
Restart=always

[Install]
WantedBy=multi-user.target
