html, body, p {
    margin: 0px;
}
html {
    height: 100vh;
}
body {
    padding: 30px;
    overflow: scroll;
    background-color: #f8f8f8;
    font-family: 'helvetica', sans-serif;
    line-height: 1;
    font-size: 20px;
}
a {
    word-break: break-all;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:link {
    color: rgb(173, 0, 255);
}
a:visited {
    color: rgb(173, 0, 255);
}
nav {
    position: sticky;
    top: 30px;
}
nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
}
nav li {
    padding-left: 15px;
}
nav li:hover {
    cursor: pointer;
    text-decoration: underline;
}
nav li.title {
    padding-left: 0px;
    align-self: flex-start;
    margin-right: auto;
}
/*
nav li a {
    color: black !important;
}
*/
.aboutText {
    display: none;
}
.aboutText pre {
    margin: 0px;
    padding: 100px;
    max-width: 700px;
    font-family: 'helvetica', sans-serif;
    line-height: 1.2;
    font-size: 20px;
    white-space: pre-wrap;
}
.search {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}
fieldset {
    border: none;
    padding: 0px;
    margin: 100px;
    align-self: center;
    text-align: center;
}
.searchField {
    position: sticky;
    top: 20px;
    margin-top: 25vh;
    margin-bottom: 100px;
    align-self: center;
    text-align: center;
    transition: ease 0.25s;
    z-index: 3;
}
#command:focus {
    color: rgb(173, 0, 255);
}
input[type="text"], input[type="password"] {
    padding-left: 15px;
    min-width: 23vw;
    max-width: 70vw;
    height: 40px;
    background-color: #f8f8f8;
    font-family: inherit;
    font-size: inherit;
    border: 2px solid black;
    border-radius: 100px;
    box-sizing: border-box;
    -webkit-transition: ease 0.25s;
    transition: ease 0.25s;
}
input::placeholder {
    color: darkgray;
}
input:focus {
    border-color: rgb(173, 0, 255);
    outline: none;
}
input[type="text"]#note {
    vertical-align: top;
    height: 300px;
    border-radius: 20px;
}
.sorting {
    display: none;
    text-align: left;
    margin: 15px;
    -webkit-transition: ease 0.25s;
    transition: ease 0.25s;
}
button, button:active, button:focus {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover {
    text-decoration: underline;
}
fieldset [type=file]{
    cursor: pointer;
    display: inline-block;
    width: 220px;    
    margin-left: 45px;
    top: -10px;
}

input#file {
    vertical-align: middle;
    font-family: 'helvetica';
}
 
.results {
    height: 100%;
    width: 100%;
    margin-top: 0;
    column-count: 4; 
}
.res {
    display: block;
/*    overflow: hidden;*/
    width: 20vw;
    margin-bottom: 20px;
}
.res h1 {
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 2px;
/*    width: 90%;*/
}
.resDetails{
    font-size: 14px;
}

.error {
    color: black !important; 
}
.msg {
    color: rgb(173, 0, 255);
    display: none;
    padding: 45px;
/*    max-width: 30vw;*/
/*    text-align: left;*/
}

@media screen and (max-width: 1400px) {
    .results {
        column-count: 3;
    }
    .res {
        width: 30vw;
    }
}

@media screen and (max-width: 1100px) {
    .results {
        column-count: 2;
    }
    .res {
        width: 45vw;
    }
}

@media screen and (max-width: 640px) {
    .results {
        column-count: 1;
    }
    .res {
        width: 90vw;
    }
    #feed {
        height: auto;
        max-height: 100vh;
    }
    p, a, body, li, input[type="text"] {
/*        font-size: 25px;*/
    }
    img {
        max-width: 300px;
        max-height: 200px;
    }
}

.hidden {
    display: none;
}
.visible {
    display: block;
}
